# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
build/
.next/
out/
.turbo/
.expo/
coverage/

# Env files
.env
.env.local
.env.*.local

# Expo
apps/mobile/.expo/
apps/mobile/dist/
apps/mobile/web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Prisma
apps/api/prisma/*.db

# Uploads / storage local
apps/api/storage/

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vercel
